.head
{
    text-align:center;
    background-color: rgb(1, 10, 10);
    color: aliceblue;
    border:5px solid black;
    font-size: 40px;
}

.container{
    background-color:antiquewhite;
    height: 600px;
    width: 700px;
    /* text-align: center; */
    margin: auto;
}

.image{
       height: 90px;
}
.input{
    display: flex;
    justify-content:space-between;
    margin:10px 20px 0px 100px;
    background-color: aquamarine;
    border: 2px solid rgba(0, 0, 0, 0.617);
    border-radius:7px;
    
}

#inp{
    flex:1;
    border:none;
    background-color: transparent;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

#btn{
    background-color: rgb(248, 56, 8);
    border: none;
    border-radius:5px;
}

body{
    background-color: rgb(15, 222, 222);    
}

ul li{
    padding:20px 5px 10px 75px;
    font-size: x-large;
    list-style: none;
    cursor: pointer;
    position: relative;
    user-select: none;

}

ul li::before{
    content:'';
    height: 30px;
    width: 30px;
    position:absolute;
    background-image:url(unchecked.jpeg);
    background-size:cover;
    background-position:center;
   
    left:10px
}

ul li.checked{

      text-decoration:line-through;
}

ul li.checked::before{
    background-image:url(checked.jpeg);
}


ul li cross{
    position: absolute;
    top: 5px;
    right: 0;
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius:40px;
}

ul li cross:hover{
    background-color:chartreuse ;


}